# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^composer\.lock$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    args:
    - --unsafe # Allow custom tags like !override in compose.yml
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-json
  - id: pretty-format-json
    args:
    - --autofix
    - --indent=2
    - --no-sort-keys
    exclude: ^composer\.json$
  - id: mixed-line-ending
    args:
    - --fix=lf

- repo: https://github.com/google/yamlfmt
  rev: v0.21.0
  hooks:
  - id: yamlfmt

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.10
  hooks:
  - id: actionlint

- repo: https://github.com/hadolint/hadolint
  rev: v2.12.0
  hooks:
  - id: hadolint-docker

- repo: https://github.com/docker-compose-linter/pre-commit-dclint
  rev: v3.1.0
  hooks:
  - id: dclint

- repo: local
  hooks:
  - id: php-syntax-check
    name: PHP Syntax Check
    entry: php -l
    language: system
    types:
    - php

  - id: composer-validate
    name: Validate composer.json
    entry: composer validate --strict
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: composer-normalize
    name: Normalize composer.json
    entry: composer normalize
    language: system
    files: ^composer\.json$
    pass_filenames: false

  - id: phpcbf
    name: PHP Code Beautifier and Fixer
    entry: composer run-script phpcbf
    language: system
    types:
    - php
    pass_filenames: false

  - id: phpcs
    name: PHP_CodeSniffer
    entry: composer run-script phpcs
    language: system
    types:
    - php
    pass_filenames: false

  - id: phpstan
    name: PHPStan Static Analysis
    entry: composer run-script phpstan
    language: system
    types:
    - php
    pass_filenames: false

  - id: rector
    name: Rector
    entry: composer run-script rector-fix
    language: system
    types:
    - php
    pass_filenames: false

  - id: composer-require-checker
    name: Composer Require Checker
    entry: composer run-script require-checker
    language: system
    files: ^(composer\.json|src/.+\.php)$
    pass_filenames: false
